body{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

h1{
    margin-bottom: 0px;
    font-size: 6em;
    padding-bottom: 0px;
}

.container{
  width: 100%;
  text-align: center;
  background-image:
    linear-gradient(rgba(255, 235, 59, 0.36),
           rgba(248, 25, 25, 0.59)),
    url(./background.jpg);
  background-size: cover;
  min-height: 1600px;
}
.inside-container{
  padding-top: 40%;
  font-size: 20px;
}

input.text{
      width: 20em;
      height: 3em;
      border-radius: 36px;
      border-color: #8392ba;
      margin: 1em;
      font-size: 2em;
      visibility: 77px;
      color: black;
      text-align: center;
}

input.submit{
    height: 3.2em;
    width: 6em;
    border-radius: 60px;
    background-color: indigo;
    color: blanchedalmond;
    font-size: 30px;
}
.inside-container ul{
  list-style-type: none;
  padding-left: 0;
}
.inside-container ul li{
  width: 100%;
  height: 1.5em;
  border: 1px solid red;
  padding: 0.5em;
  color:#fff;
  margin-bottom: 2px;
  display: flex;

}
.inside-container ul li span{
  flex:1;
  text-align: center;
}
.inside-container ul li button{
  width: 20%;
  height: 30px;
  color: #fff;
  border: 1px solid #000;
  background-color: #f22613;
  border-radius: 5px;
  outline-style: none;
  margin-right: 3px;


.inside-container ul li button:last-child{
  background-color: #00aa55;
}
.line-through{
  text-decoration: line-through;
}
.list-item-color{
  background-color: #333333;
}
/*text-decoration: line-through;*/

@media screen and (max-height: 653px){
  .container{
    text-align: center;
    background-image:
      linear-gradient(rgba(255, 235, 59, 0.36),
             rgba(248, 25, 25, 0.59)),
      url(./background.jpg);
    background-size: cover;
    min-height: 653px;
  }
  h1{
    font-size: 35px;
  }
  .inside-container{
    padding-top: 2px;
    float: right;
    margin-top: 8%;
    margin-right: 25%;
    margin-left: 25%;
    position: initial;
  }

  input.text{
        width: 20em;
        height: 3em;
        border-radius: 10px;
        border-color: #8392ba;
        margin: 1em;
        font-size: 15px;
        visibility: 77px;
        color: black;
        text-align: center;
  }

  input.submit{
        height: 3em;
        width: 6em;
        border-radius: 15px;
        background-color: indigo;
        color: blanchedalmond;
        font-size: 14px;
  }

}
