body{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

h1{
    margin: 0;
    font-size: 6em;
}

.container{
  width: 100%;
  text-align: center;
  background-image:
    linear-gradient(rgba(255, 235, 59, 0.36),
           rgba(248, 25, 25, 0.59)),
    url(./background.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.inside-container{
  font-size: 10px;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  margin-top: 15vh;
}

input.text{
      width: 40%;
      height: 30px;
      border-radius: 3px;
      border-color: #8392ba;
      margin-right: 2px;
      font-size: 1.2em;
      color: black;
      text-align: center;
      box-sizing: border-box;
}

input.submit{
  height: 30px;
  width: 15%;
  border-radius: 6px;
  background-color: indigo;
  color: blanchedalmond;
  font-size: 1.2em;
}
form#add-todo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.inside-container ul{
  width: 55%;
  margin: 1px auto;
  padding: 0;
  overflow-y: auto;
  max-height: 65vh;

}
.inside-container ul li{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #fff;
  color:#fff;
  margin-bottom: 2px;
  display: flex;
  margin-bottom: 5px;

}
.inside-container ul li span{
  flex:1;
  text-align: center;
  font-size: 2.0em;
  line-height: 40px;
}
.inside-container ul li button{
  color: #fff;
  border: 1px solid #000;
  background-color: #82544f;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.inside-container ul li button:last-child{
  background-color: #00aa55;

}
.line-through{
  text-decoration: line-through;
}
.list-item-color{
  background-color: #333333;
}
/*text-decoration: line-through;*/
